{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Directory</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="{% static 'webdirectory/styles.css' %}" rel="stylesheet">
    <!-- Add FontAwesome CDN -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="{% static 'webdirectory/images/favicon.ico' %}">
</head>
<body>
    <!-- Add background music NO FUNCIONA-->
    {% comment %} <audio autoplay loop>
        <source src="{% static '/webdirectory/music/jazzlounge.mp3' %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio> {% endcomment %}
    <h1>Condominio Las Torres</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6 left-panel">
                <h3>Directorio de Negocios</h3>
                <div id="clientCarousel" class="carousel slide" data-ride="carousel" data-interval="10000">
                    <div class="carousel-inner">
                        {% for client in clients %}
                        {% if forloop.counter0|divisibleby:14 %}  {% comment %} cambiar el numero para aumentar la cantidad de clientes y abajo tambien {% endcomment %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Teléfono</th>
                                        <th>Piso</th>
                                        <th>Torre</th>
                                    </tr>
                                </thead>
                                <tbody>
                        {% endif %}
                                    <tr>
                                        <td><i class="fas fa-user"></i> {{ client.name }}</td>
                                        <td><i class="fas fa-phone"></i> {{ client.phone }}</td>
                                        <td><i class="fas fa-map-marker-alt"></i> {{ client.address }}</td>
                                        <td><i class="fas fa-building"></i>  {{ client.building }}</td>
                                    </tr>
                        {% if forloop.counter0|add:1|divisibleby:14 or forloop.last %} {% comment %} cambiar el numero para aumentar la cantidad de clientes y arriba tambien {% endcomment %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 news-feed">
                <h3>Anuncios</h3>
                <!-- Add news feed content here -->
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="10000">
                    <div class="carousel-inner">
                        {% for news in news %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="media/{{ news.profile_picture }}" class="d-block w-100" alt="{{ news.title }}">
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>    
</body>
    <!-- Add this at the end of your HTML file -->
    <footer class="footer">
        <p>Created with love by <strong>Cloud Tech Consulting</strong> | <strong>(787)-232-3155</strong> | <strong>contact@cloudtechcs.com</strong> </p>
        <img src="static/webdirectory/images/QRCodeInstagram.png" alt="QR Code" class="qrcode">
    </footer>
</html>